@page
@model RazorPage.Pages_Blog.IndexModel

@{
    ViewData["Title"] = "Trang Blog";
    int i = 0;
}

@{

    var pagingModel = new RazorPage.Helpers.PagingModel()
    {
        currentPages = Model.currentPages,
        countPages = Model.countPages,
        generateUrl = (int? p) => Url.Page("/Blog/Index", new { p = p })
    };

}


<h1>Trang Blog</h1>

<form method="get" asp-page="./Index">
    <label>Tim kiem</label>
    <input name="SearchString" value="" />
    <button type="submit">Tim</button>
</form>

<p>
    <a class="btn btn-primary" asp-page="Create">Tao Blog moi </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Created)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.Article[0].Content) *@
            @* </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>
                @(++i)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <td>@item.Created.ToString("dd/MM/yyyy")
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Content) *@
            @* </td> *@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Chinh sua</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Xem chi tiet</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Xoa</a>
            </td>
        </tr>
        }
       
    </tbody>
</table>
<div class="align-content-center align-items-center">
    <partial name="_Paging" model=@pagingModel />
</div>

